get-kql-token.ps1
get-Fabric-token.ps1
get-Fabric-token2.ps1
UpdateEvenstream/Output/
UpdateEvenstream/input/*
!UpdateEvenstream/input/clean_evenstream.json
WorkspaceToMonitoring/Output/
WorkspaceToMonitoring/input/*
!WorkspaceToMonitoring/input/clean_evenstream.json
